body {
  background-color: #dadada;
  font-size: 10px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.emphasis {
  font-size: 1.5em;
  font-family: helvetica;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.responsive {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}
.container {
  margin: 10px auto;
  max-width: 900px;
}

.preview {
  margin: 2px auto;
  padding-top: 10px;
}

.preview h1 {
  font-size: 2em;
  position: absolute;
  padding-left: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 575px){
    body {
      background-color: #dadada;
      font-size: 10px;
      text-align: center;
      max-width: 900px;
      margin: 0 auto;
    }

    .emphasis {
      font-size: 1.5em;
      font-family: helvetica;
      letter-spacing: 2px;
      text-transform: uppercase;
      line-height: 3em;
    }

    .responsive {
      width: 100%;
      min-height: 200px;
      object-fit: cover;
    }
    .container {
      margin: 0 auto;
      width: 575px;
    }

    .preview {
      margin: 0 auto;
      padding: 1%;
      width: 46%;
      float: left;
      display: inline-block;
    }

    .preview h1 {
      font-size: 2em;
      position: absolute;
      padding-left: 20px;
      padding-top: 20px;
  }
}

@media screen and (min-width: 1199px){
  body {
    background-color: #dadada;
    font-size: 10px;
    text-align: center;
    max-width: 1199px;
    min-width: 900px;
    margin: 0 auto;
  }

  .emphasis {
    font-size: 1.5em;
    font-family: helvetica;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3em;
  }

  .responsive {
    width: 100%;
    min-height: 150px;
    object-fit: cover;
  }
  .container {
    margin: 0 auto;
    width: 1199px;
  }

  .preview {
    margin: 1%;
    width: 18%;
    float: left;
    display: inline-block;
  }

  .preview h1 {
    font-size: 2em;
    position: absolute;
    padding-left: 20px;
    padding-top: 20px;
}
